<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.yapp.scenetalker">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_scenetalker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_scenetalker_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.scenetalker.yapp.scenetalker.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.scenetalker.yapp.scenetalker.FeedPage"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.WritePage"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.ChattingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.MyPageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.PasswordChangeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.PasswordResetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.PasswordChangeEmailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.PasswordFindActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.MyWrittenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.MyLikeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.CommentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.scenetalker.yapp.scenetalker.MyBookmarkActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>